# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
SECRET_KEY=my_SECRET_KEY #Ваш_SECRET_KEY
DEBUG=True

# Конфигурация базы данных
DB_NAME=my_data_base # Имя базы данных
DB_USER=username # Имя пользователя (например, postgres)
DB_PASSWORD=password # Пароль базы данных
DB_HOST=localhost # Хост для базы данных
DB_PORT=5432 # Номер порта, который закреплен за PostgreSQL по умолчанию