{% extends "catalog/base.html" %}
{% block content %}
<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success shadow">
                <h4>Пароль успешно изменен!</h4>
                <p>Теперь вы можете войти в систему, используя ваш новый пароль.</p>
                <a href="{% url 'users:login' %}" class="btn btn-success mt-3">Войти на сайт</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}