{% load i18n %}{% autoescape off %}
{% blocktranslate %}Здравствуйте!{% endblocktranslate %}

{% blocktranslate %}Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи.{% endblocktranslate %}

{% blocktranslate %}Перейдите по ссылке ниже и установите новый пароль:{% endblocktranslate %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% blocktranslate %}Если вы этого не делали, проигнорируйте письмо.{% endblocktranslate %}

{% endautoescape %}