{% extends "catalog/base.html" %}
{% block content %}
<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-info shadow">
                <h4>Проверьте почту!</h4>
                <p>Мы отправили инструкции по сбросу пароля на ваш электронный адрес. Если письмо не пришло, проверьте папку «Спам».</p>
                <a href="{% url 'users:login' %}" class="btn btn-primary mt-3">Вернуться ко входу</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}